
.fullscreen-map {
    width: 100%;
    height: 100%;
}

.square-map {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.add-border {
    outline: #000 solid 1px;
}

.maperial-main {
    position:relative;
}

.maperial-anchor {
    position:absolute;
}

.maperial-lens {
    position:absolute;
    border: 3px solid #666;
    cursor: -webkit-grab;
}

.maperial-minifier {
    position:absolute;
    border: 3px solid #666;
    cursor: -webkit-grab;
}
