/*--------------------------------*/

.selectArea {
	background-color: #555;
	width: 60px;
	height: 60px;
    position: relative;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.selector {
	background-color: #fff;
	width: 15px;
	height: 15px;
    position: absolute;
	border-radius: 50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
}

.zSelector {
	width: 15px;
	height: 60px;
}
