# This file is a sample to copy as your env.json
# env.json must setup every environment variable.
# This file is ignored by git, 
# and allows to build sources/js/environment/config.js 

{
    "staticURL"	: "http://static.maperial.com",
    "apiURL"	: "http://api.maperial.com",
    "tileURL"	: "http://api.maperial.com"
}
