/*---------------------------------------------------------------*/

.wizardStepper {
	margin-left: -92px;
	margin-top: -19px;
}

.wizardStepper h3 {
	line-height: 16px;
	font-size: 16px;
	color: #eee;
}

.wizardStepper h4 {
	line-height: 16px;
	font-size: 16px;
	color: #888;
}

/*----------------------------------------------------------*/

.bigbutton {
	cursor:hand; 
	cursor:pointer;
	opacity: 0.8;
}

.bigbutton:hover {
	opacity: 1;
}

/*----------------------------------------------------------*/
#sourceSelectionWindow {
	width: 280px;
	padding-left: 15px;
	padding-right: 15px;
}

#demoSelectionWindow {
	width: 670px;
	margin-left: -335px;
	padding-left: 15px;
	padding-right: 15px;
}



