.maperial-animation-caption{
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    background: rgba(220, 220, 220, 0.8);
    padding: 8px;
}

.maperial-animation-speed{
    position: absolute;
    top: 50px;
    right: 0;
    width: 170px;
    height: 50px;
    background: rgba(220, 220, 220, 0.8);
    padding: 8px;
    margin-top: 12px;
}
