.maperial-animation-caption{
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    background: rgba(220, 220, 220, 0.7);
}
