.maperial-shade-controls{
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #ccc;
    width: 140px;
    padding-left: 5px;
    padding-right: 5px;
}
