/*--------------------------------*/
#homeContent {
	padding: 0;
	z-index: 1;
}

#maperialAuthFrame {
	width: 532px;
	height: 423px;
	border: 0px;
}

#homeImage {
	width: 100%;
	margin-bottom: -479px;
	margin-top: -91px;
}

#videoWindow {
	width: 843px;
	height: 480px;
}

/*--------------------------------*/
#part1 {
	margin-top: 0px;
	color: #fff;
}

.homePart {
	background: #fff;
	margin-top: 550px;
	margin-bottom: 0px;
}

/*--------------------------------*/
.imageBackContainer {
	position: fixed;
	visibility: hidden;
	padding-bottom: 10px; /* to avoid line flickering*/
	margin-top: 150px;
}

#imageBackContainer1 {
	z-index: -12;
	visibility: visible;
}

#imageBackContainer2 {
	z-index: -11;
}

#imageBackContainer3 {
	z-index: -10;
}

#imageBackContainer4 {
	z-index: -9;
}

#imageBackContainer5 {
	z-index: -8;
}