/************************************************
*	10.	Homepage 				     	    * 
************************************************/
.homepage_top {
	width: 100%;
	margin-top: 35px;
}
.homepage_top .widget_sp_image {
	padding: 0px 0px 0px 30px;
	background: url(http://static.maperial.localhost/images/home/column_bkg.png) no-repeat left -2px;
}	
.homepage_top  .widget_sp_image.first-child {
	background: none;
}
.homepage_top .widget_sp_image img {
	margin-top: 0;
	padding-top: 26px;
}

.homepage_top .widget_sp_image h4 {
	color: #217E03;
	text-align: center;
	font-size: 1.8em;
	font-weight: normal;
	/* margin: 20px 0 5px; */
	margin-bottom: 25px;
}

/***** [ ecrans etroits ] *****/
@media (max-width: 1100px) {
	.homepage_top .widget_sp_image h4 {
		font-size: 1.2em;
	}
}

/***** [ ecrans mobiles ] *****/
@media (max-width: 767px) {
	.homepage_top .widget_sp_image h4 {
		font-size: 1.6em;
	}
}

.homepage_top .widget_sp_image P {
	text-align: center;
	line-height: 1.4;
}
.homepage_mid {
	width: 100%;
	min-height: 150px;
	background: #e8e8e8;
	color: #999;
	padding: 10px 0;
	box-shadow: 0 1px 1px #e0e0e0;
}
.homepage_mid a.btn {
	margin: 10px 0 0 0;
	float: right;
}
.homepage_mid .testimonial_wrapper img {
	float: left;
	margin: 20px 30px 20px 0;
	width: 125px;
	height: auto;
}
.homepage_mid .testimonial_wrapper blockquote {
	font-size: 1.2em;
	font-style: normal;
	line-height: 1.4;
	margin: 0px;
	padding: 0;
}
.homepage_mid .testimonial_wrapper p {
	padding: 0;
	margin: 0 0 10px 0;
	width: 80%;
	font-family: Georgia, "Times New Roman",Times, serif;
}
.homepage_bottom {
	margin: 50px 0 25px 0;
}
.homepage_bottom .widget_sp_image {
	margin-bottom: 50px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e8e8e8;
}
.homepage_bottom .widget_sp_image h4 {
	color: #f74902;
	text-align: left;
	font-size: 1.8em;
	font-weight: normal;
	margin: 20px 0 5px;
}
.homepage_bottom .widget_sp_image-description, .homepage_bottom h4 {
	width: 70%;
}

/*--------------------------------*/
.widget_sp_image-description p {
	font-size: 14px;
}

.home-description {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.row-fluid.dark {
	background: rgba(0, 0, 0);
	background: rgba(0, 0, 0, 0.04);
}

.homeText {
	margin-bottom: 0px;
	font-size: 15px!important;
	text-align : justify;
}

.home-separator {
	margin-top: 10px;
	margin-bottom: -20px;
}

.home-container {
	margin-bottom:25px;
}

.home-details p {
	font-size: 20px;
	margin-bottom: 25px;
	max-width: 300px;
}

.gallery-container {
	padding-bottom: 120px;
	padding-top: 60px;
}

.home-description h2{
	color: #217E03;
	margin-bottom:20px;
}

/*--------------------------------*/

.centered { float: none; margin: 0 auto; }

/*--------------------------------*/
#homeContent {
	padding: 0;
	z-index: 1;
}

#maperialAuthFrame {
	width: 532px;
	height: 423px;
	border: 0px;
}
	
#homeImage {
	background: url('http://static.maperial.localhost/images/home/top.maperial.init.jpg');
	background-repeat: repeat-x;
	background-position-x: 0px;
	height: 300px;
	-moz-box-shadow: 0px 2px 15px #333;
	-webkit-box-shadow: 0px 2px 15px #333;
}

#videoWindow {
	width: 843px;
	height: 480px;
}

.presentation {
	font-size : 18px;
}

/*--------------------------------*/
.gallery li { display: inline; }

/* This rule is read by Galleria to define the gallery height: */
#galleria{height:620px}
/*--------------------------------*/
.creditimage {
	margin-left: 30px;
	margin-right: 30px;
}

.creditlink {
	margin-bottom: 15px;
	font-size: 16px;
	font-weight: normal;
}

/*--------------------------------*/
#titleNews {
	font-size: 40px;
	margin-bottom : 30px;
}

.subtitleNews {
	margin-left: 45px;
}

.titleNew {
	color: #217E03;
	font-size: 25px;
	margin-bottom:20px;
	margin-top: 40px;
}


.moreNew {
	color: #217E03;
	text-align: right;
	cursor:pointer;
	cursor:hand;
}

.dateNew {
	font-size: 20px;
	color: #217E03;
	margin-top: 40px;
}

/*--------------------------------*/
#moreWhatButton {
	position: fixed;
	right: 20px;
	top: 360px;
}

#moreTryButton {
	position: fixed;
	left: 20px;
	top: 360px;
}

/*--------------------------------*/
#playImage {
	margin-top: -215px;
	opacity:0.85;
}

#playImage:hover {
	opacity:1;
}

#part1 {
	margin-top: -50px;
}

.miniarrow {
	margin-top: 21px!important;
	margin-left: -4px!important;
}

@media (max-width: 767px) {
	.miniarrow {
		margin-top: -48px!important;
	}
}

/*--------------------------------*/
.websiteContent {
	padding-top: 50px;
}

/*--------------------------------*/
.homeIcon {
	margin-top: 35px!important;
	margin-bottom: -3px!important;
	width: 60px;
}

.homeTitle {
	color: #fff;
	font-size: 19px;
	margin-bottom: 14px;
	margin-top: 32px!important;
}

.homeSubtitle {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	color: #fff;
}

.homeAction {
	font-size: 20px;
	margin-top: 45px;
}

.homeActionSeparator {
	margin-top: 0px;
	margin-bottom: -1px;
}

#workflow{
	margin-top: -30px;	
}
