/*---------------------------------------------------------------*/

.panelStyleEditorMenu {
	height: 30px;
	width: 270px;
	z-index: 102;
}

/*---------------------------------------------------------------*/

#styleNameInput {
	width: 190px;
}
	

#style {
	z-index: 3 !important;
}


/*-------------------------*/

.panelColorbarManager {
	top: 67px;
	left: 0; 
}

