.maperial-simple-zoom{
    top 0
    left 0
    width 38px
    position absolute
    background rgba(220,220,220,0.8)
    height 90px
}

.maperial-simple-zoom-in{
    margin-left 7px
    margin-top 7px
    width 50px
    height 50px
    background url("http://static.maperial.com/images/plus.png")
    background-size 50%
    background-repeat no-repeat
}

.maperial-simple-zoom-out{
    margin-left 7px
    width 50px
    height 50px
    background url("http://static.maperial.com/images/minus.png")
    background-size 50%
    background-repeat no-repeat
}
